/* src/components/SocialIcons/SocialIcons.css */

.social-icons-bottom {
  position: fixed;
  bottom: 20px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 999;
}

.social-icons-bottom a {
  color: #111;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons-bottom a:hover {
  color: #0077b6;
  transform: scale(1.2);
}

.social-icon{
  width: 30px;
  height: 30px;
}
.dark-mode .social-icons-bottom a {
  color: #fff;
}

.koo-icon { 
  width: 25px;/* Koo icon color */
}
@media (max-width: 768px) {
  .social-icons-bottom {
    flex-direction: row;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 25px;
  }
}
